<li class = podcast_item data-id="<%= podcast.id %>" >
	<div class="row podcast" data-link="<%= podcast.file_url%>">
			<div class="col-md-4 ">
				<p class="name">
					<%= hide_overflow(podcast.title) %>
				</p>
			</div>
			<div class="col-md-1">
				<p class="duration"><%= podcast.duration %></p>
			</div>
			<div class="col-md-3">
				<p class="published"><%= format_date(podcast.published) %></p>
			</div>
			<div class="col-md-4 ">
                <p>
					<%= hide_overflow(podcast.summary) %>
				</p>
	</div>
	
</li>