<!DOCTYPE html>
<html>
<head>
  <title>EDM player</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
   <nav class="top-navigation">

      <div> <%= link_to "rTunes", root_path  %></div>
      <% if current_user %>
        <div class="logged_in">
          <div><%= "Logged in as  #{current_user.email} " %></div>
          <div><%= link_to "logout", logout_path %></div>
        </div>
      <% else %>
        <div id = "signup"><%= link_to "Sign Up", signup_path %></div>
        <div id="login"><%= link_to "Login", login_path %></div>
      <% end %>
   </nav>
    <div id="jquery_jplayer_1" class="jp-jplayer"></div>
  <div id="jp_container_1" class="jp-audio">
    <div class="jp-type-single">
      <div class="jp-gui jp-interface">
        <ul class="jp-controls">
           <li><a href="javascript:;" class="jp-previous" tabindex="1">play</a></li>
                      <li><a href="javascript:;" class="jp-next" tabindex="1">play</a></li>
          <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>

          <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
          <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
          <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
        </ul>
        <div class="jp-progress">
          <div class="jp-seek-bar">
            <div class="jp-play-bar"></div>
          </div>
        </div>
        <div class="jp-volume-bar">
          <div class="jp-volume-bar-value"></div>
        </div>
        <div class="jp-time-holder">
          <div class="jp-current-time"></div>
          <div class="jp-duration"></div>
          
        </div>
      </div>
    </div>
  </div>

  
  <%= notice %>


	<div class="container main">
		<%= yield %>
	</div>

<footer>
  
</footer>
</body>
</html>
