<!DOCTYPE html>
<html>

<head>
  <title>EDM player</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
   <nav class="top-navigation">

      <div data-no-turbolink> <%= link_to "rTunes", root_path , class: "top-navbar-brand" , remote: true %></div>

      <% if current_user %>
        <div data-no-turbolink class="logged_in">
          <%= link_to current_user.name, user_path(current_user), class: "top-navbar", remote: true %>
          <%= link_to "logout", logout_path , class: "top-navbar"%>
        </div>
      <% else %>
        <div  data-no-turbolink class="not_logged_in">
          <div id = "signup"><%= link_to "Sign Up", signup_path, class: "top-navbar" %></div>
          <div id="login"><%= link_to "Login", login_path , class: "top-navbar"%></div>
        </div>
      <% end %>
   </nav>

   <%= render 'layouts/player' %> 

   <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
   <% end %>


	<div class="container main">
		<%= yield %>
 </div>

  <footer class = "footer">
      <h1>Find Me on the Web</h1>
      <p>You can contact me or follow me via following services:</p>
      <ul class="services">
         <li class = "icon-facebook"> <a href="https://www.facebook.com/adilbiy">Facebook</a></li>
         <li class = "icon-twitter"><a href="https://twitter.com/wrl0ck">Twitter</a></li>
         <li class = "icon-google-plus"><a href="https://plus.google.com/109210631177420750418/about">Google Plus</a></li>
         <li class = "icon-mail"><a href='mailto:addick@me.com'>Email</a></li>
      </ul>
  </footer>




<script type="text/javascript">
   $(function() {
   
   $('#jp-pause').hide();
//    $('#track-info').empty();

//    <% if cookies[:last_played_id] %>
   
//        var podcast = $('<li data-id="<%= j cookies[:last_played_id] %>"></li>');
//        play(podcast);
    
//     <%= cookies.delete(:last_played_id) %>
//    <% end %>
    });
</script>
</body>
</html>
